#div_impresora{
    visibility:hidden;
    display: none;
}

.ocultar{
    visibility:hidden;
    display: none;
}

table{
    border: 1px solid;
    border-collapse: collapse;
}
th{
    font-size:12px;
    border: 1px solid;
    border-collapse: collapse;
}
td{
    font-size:12px;
    border: 1px solid;
    border-collapse: collapse;
}