
#frmlogin{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-60px;
    margin-top:-85px;
    width:180px;
}
input[type="text"] {
    -x-system-font:none;
   
    border:1px solid #7F9DB9;
    font-family:sans-serif;
    font-size:13px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    padding-left:5px;
}
.button_toolbar{
    width:35px;
    height:35px;
    cursor:pointer;
}
#btnsave{
    background: url(images/toolbar/save.png) no-repeat center center ;
}
#btnsaveexit{
    background: url(images/toolbar/saveexit.png) no-repeat center center ;
}
#btnrfrsh{
    background: url(images/toolbar/refresh.png) no-repeat center center ;
}
#btnselect{
     background: url(images/toolbar/ok.png) no-repeat center center ;
}
#btnselectexit{
     background: url(images/toolbar/okexit.png) no-repeat center center ;
}
#btnexit{
     display:block;
     width:32px;
     height:32px;
     background: url(images/toolbar/exit.png) no-repeat center center ;
}
#btnhome{
     display:block;
     width:32px;
     height:32px;
     background: url(images/toolbar/home.png) no-repeat center center ;
}
#iconuser{
     display:block;
     /*width:36px;*/
     height:36px;
     position:relative;
     margin-left:10px;
     margin-top:7px;
     padding-left:40px;
     background: url(images/users.png) no-repeat left center ;
}
form p{
    margin-top:4px;
    margin-bottom:4px;
    
}
.labelform{
    display:inline-block;
    width:120px;
    height:auto;
}

/*Estilo para la validacion*/

input.error {
    border:1px dotted red;
}
label.error {
    margin-left:5px;
    padding-left:16px;
    background:transparent url(images/unchecked.gif) no-repeat;
    color:red;
    font-style:italic;
}

#optionsuser{
    left:55px;
    position: absolute;
    top:23px;
    /*visibility:visible;*/
    z-index:15000;
    background-image:url(images/menu.gif);
    background-repeat:repeat-y;
    background-position: 30px;

}
#optionsuser ul{
  /*  padding-left:10px;*/
    margin:2px;
    list-style:none;
    padding-left:0px;
}
#optionsuser ul li a{
    padding:3px 21px 3px 3px;
    cursor:pointer;
    display:block;
    line-height:16px;
    cursor:pointer;
    margin-left:32px;
    font-weight:normal;
}
#optionsuser ul li a:hover{
    color:#E17009;
}